{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>TreasureGram</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'style.css' %}" />
  </head>

  <body>
    <h1>TreasureGram</h1>
    <main class="container" role="main">
        {% block content %}
        {% endblock %}
    </main>

     <footer class="footer" role="contentinfo">
        <div class="container">
            <p class="text-muted">&copy; Treasuregram 2016</p>
        </div>
    </footer>

  </body>
</html>
